# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Test and coverage results
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.pytest_cache

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Environments
.env
.venv/
env/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# KindleHelper specific
FlipCmd/

log/

# .gitignore
build/
dist/
*.spec